.header{
    background-color: rgb(12, 2, 36);
    color: white;
}

.main{
    background-color: #044F3D;
    color: black;
}

.footer{
    background-color: #08775D;
    color: white;
}

.misc{
    color: white;
}