@media screen and (max-width:425px) {
    *{
        box-sizing: border-box;

    }
    
    html,body{
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    /*HEADER*/
    header{
        margin: 0 auto;
        padding: 0;
        width: 100%;
        display: block;
        height: 8vh;
    }

    #title1{
        margin: 0 auto;
        text-align: left;
        padding: 0;
        width: 100%; 
        display: block;
    }

    #title1 .bi-list{
        display: block;

    }

    #title1 a{
        margin-left: 15%;
        padding: 2px;
        color: red;
        display: inline-block;
        font-size: 25px;
        width: auto;
        height: inherit;
    }

    #lists{
        margin: 0 auto;
        background-image: url("https://tinyurl.com/56k4mxjm");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 0;
        width: 50%;
        position: fixed;
        height: 100%;
        left: -50%;
        transition-duration: 1s;
        top: 8vh;
    }

    #lists ul{
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    #lists ul li a{
        margin: 0 auto;
        display: block;
        text-transform: capitalize;
        text-decoration: none;
        padding: 5px;
        color: white;
        font-weight: bold;
        width: 100%; 
    }

    #lists ul li a:hover{
        background-color: black;
    }

    /*MAIN*/
    main{
        margin: 8vh auto;
        padding: 0 0 0.8vh 0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
    }

    /*LANDING PAGE*/
    #landing{
        margin: 0.5vh auto;
        padding: 0.25vh;
        display: block;
        width: 90%;
    }
    #landing #one,#two,#three{
        font-size: 30px;
    }
    
    #landing #four  div{
        font-size: 40px;
        text-decoration: underline;
        font-weight: bold;
    }
    
    #landing div ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
    }
    
    #landing div ul li{
        padding-right: 5px;
    }
    
    #landing div ul li img{
        width: 50px;
        height: 50px;
        background-color: white;
    }
    #landing div ul #five img{
        width: 150px;
        height: 50px;
    }
    

    /*ABOUT*/
    #about{
        margin: 0.5vh auto;
        padding: 0.25vh;
        width: 90%;
        height: auto;
        border-radius: 10px;
        display: none;
    }

    #about h1{
        margin: 0px;
        padding: 5px;
        font-size: 30px;
    }
    #about-content{
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 2vh 0 0 0;
    }

    #about-content #a1{
        margin: 0 auto;
        width: 100%;
        height: 250px;
        display: block;
        border: none;
        border-radius: 0;
    }

    #about-content #a2{
        width: 100%;
        padding: 20px 10px 10px 20px;
        margin: 0 auto;
        height: auto;
        border-radius: 0 0 10px 10px;
        font-size: 16px;
        text-wrap: wrap;
    }

    #about-content #a1:hover,#about-content #a2:hover{
        outline: none;
    }

    #experience{
        width: 90%;
        height: auto;
        margin: 0.5vh auto;
        padding: 10px;
        border-radius: 10px;
    }

    #type{
        display: none;
    }

    #experience h1{
        padding: 5px;
        font-size: 30px;
        margin: 0;
    }

    #experience #experience-content{
        display: block;
        margin: 5px auto;
        width: 100%;
    }

    #experience1{
        display: flex;
        width: 90%;
        margin: 10px auto;
        padding: 0;
        border-radius: 10px;
    }

    #experience #experience-content #experience1 img{
        height: inherit;
        width: 60px;
        border-radius: 10px 0 0 10px;
    }

    #experience #experience-content #experience1 div{
        font-size: 12px;
        padding: 5px;
    }
    
    #education{
        margin: 0.5vh auto;
        height: auto;
    }

    #education h1{
        font-size: 30px;
    }

    #education-content{
        display: block;
        width: 100%;
        margin: 0 auto;
        
    }
    #education-content #education1{
        display: flex;
        margin: 2.5vh auto;
        width: 90%;
        border-radius: 10px;
    }
    #education-content #education1 img{
        height: inherit;
        width: 60px;
        border-radius: 10px 0 0 10px;
    }
    #education-content #education1 div{
        padding: 5px;
        font-size: 12px;
    }

    #skills{
        width: 95%;
        padding: 1vh;
        margin: 0.5vh auto;
        height: auto;
        border-radius: 10px;
    }
    #skills h1{
        font-size: 30px;
    }
    #skills-content{
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        font-size: 12px;
    }
    #skills-content #skills1{
        width: 95%;
        margin: 5px auto;
        padding: 0 0 1px 0;
        border-radius: 0;
    }
    #skills-content #skills1 h4{
        font-size: 15px;
    }

    #experience,#education,#skills,#project,#contact{
        position: static;
        display: block;
    }
*/
    /*FOOTER*/
    footer{
        margin: 0 auto;
        width: 100%;
        display: block;
    }

    footer p{
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 12px;
    }

    footer ul{
        display: flex;
        justify-content: right;
        width: 100%;
        flex-wrap: wrap;
        font-size: larger;
        font-size: 15px;
}
}