* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: aliceblue;
}
header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
header .title .list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .title .list .bi-list,
header .title .list .bi-x {
  margin: 0 auto;
  padding: 0;
  font-size: 32px;
  cursor: pointer;
  display: none;
}
header .title .title-name {
  padding: 0 10px;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
header .title .title-name a {
  text-decoration: none;
  background-image: linear-gradient(90deg, red, lime);
  background-clip: text;
  color: transparent;
  display: block;
}
header .title .title-name .bi-circle-half {
  right: 0;
  font-size: 20px;
  display: block;
}
header .nav {
  list-style-type: none;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}
header .nav li {
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}
header .nav li a {
  background-image: linear-gradient(90deg, red, lime);
  background-clip: text;
  color: transparent;
  border: none;
  text-transform: capitalize;
  font-size: 20px;
  padding: 5px;
}
header .nav li a:hover {
  background-image: linear-gradient(90deg, lime, red);
  background-clip: text;
  color: transparent;
}

/* MAIN */
main {
  margin: 40px auto 0 auto;
  padding: 0;
  background-color: white;
}

.box {
  margin: 0 auto;
  padding: 10px;
  width: 80%;
}
.box h1 {
  text-transform: capitalize;
}
.box h1 span, .box h1 .contact .contact-left .submit input, .contact .contact-left .submit .box h1 input, .box h1 .contact .contact-left .inputs-field input::placeholder, .contact .contact-left .inputs-field .box h1 input::placeholder {
  margin: 0 auto;
  padding: 0;
  background-image: linear-gradient(90deg, red, lime);
  background-clip: text;
  color: transparent;
}
.box ul {
  margin: 0;
  padding: 0;
}

/* Landing Page */
.land1 {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.lands {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

.lands h1 {
  text-transform: capitalize;
}

.lands p {
  font-size: 25px;
}

.land2 {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

.land2 img {
  width: 100%;
  border: none;
  border-radius: 20px;
  height: 50vh;
}

.stacks {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.stacks svg {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

/* About Element */
.about-content {
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about1 {
  margin: 0 auto;
  padding: 0;
  width: 40%;
}

.about1 img {
  width: 100%;
  height: 50vh;
}

.about2 {
  margin: 0 auto;
  padding: 0 0 0 20px;
  width: 60%;
  list-style-type: none;
}

.about2 li {
  line-height: 90px;
  padding: 0;
  font-size: 30px;
}

.about2 li i {
  padding: 0 0 0 10px;
  background-image: linear-gradient(90deg, red, lime);
  background-clip: text;
  color: transparent;
}

/* Experience Element */
.experience-content {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.experience1 {
  margin: 0 auto;
  padding: 0;
  width: 33%;
  background-color: aliceblue;
}

.experience1 img {
  width: 100%;
  height: 50vh;
}

.experience1 div {
  margin: 0 auto;
  padding: 5px;
  font-size: 20px;
}

.education-content {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.education1 {
  margin: 0 auto;
  padding: 0;
  width: 30%;
  background-color: aliceblue;
}

.education1 img {
  width: 100%;
  height: 30vh;
  background-color: white;
}

.education1 div {
  margin: 0 auto;
  padding: 5px;
  font-size: 20px;
}

.education1 a {
  cursor: alias;
}

/* Skills */
.skills-content {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills1 {
  margin: 0 auto;
  padding: 0;
  width: 30%;
  background-color: aliceblue;
}

.skills1 h4 {
  text-align: center;
  text-transform: capitalize;
}

.skills1 h4 span, .skills1 h4 .contact .contact-left .submit input, .contact .contact-left .submit .skills1 h4 input, .skills1 h4 .contact .contact-left .inputs-field input::placeholder, .contact .contact-left .inputs-field .skills1 h4 input::placeholder {
  background-image: linear-gradient(90deg, red, lime);
  background-clip: text;
  color: transparent;
}

.skills1 ul {
  margin: 0 20px;
  padding: 5px;
}

.skills1 ul li {
  text-transform: capitalize;
  font-size: 15px;
}

/*contact form */
.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact span, .contact .contact-left .submit input, .contact .contact-left .inputs-field input::placeholder {
  background-image: linear-gradient(90deg, red, lime);
}
.contact .contact-left {
  margin: 20px auto;
}
.contact .contact-left .contact-title h1 {
  margin: 0;
  padding: 0;
}
.contact .contact-left .contact-title hr {
  max-width: 100px;
  margin: 0;
  min-height: 5px;
  background-image: linear-gradient(90deg, red, lime);
}
.contact .contact-left .inputs-field,
.contact .contact-left .message-box {
  margin-top: 10px;
}
.contact .contact-left .inputs-field {
  border-radius: 50px;
}
.contact .contact-left .inputs-field input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-radius: inherit;
  font-size: 20px;
  padding: 10px;
  background-color: rgba(170, 97, 97, 0.363);
}
.contact .contact-left .inputs-field input:hover {
  background-color: aliceblue;
}
.contact .contact-left .inputs-field input:focus {
  background-color: aliceblue;
}
.contact .contact-left .inputs-field input::placeholder {
  color: white;
  background-clip: text;
  color: transparent;
}
.contact .contact-left .message-box {
  max-width: 100%;
}
.contact .contact-left .message-box textarea {
  display: block;
  width: 100%;
  resize: none;
  min-height: 10vh;
  outline: none;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 20px;
  padding: 10px;
}
.contact .contact-left .submit input {
  margin: 10px auto;
  display: block;
  width: 80%;
  border: none;
  outline: none;
  border-radius: inherit;
  font-size: 20px;
  padding: 5px;
  border-radius: 70px;
  color: aliceblue;
}
.contact .contact-left .submit input:hover {
  background-image: linear-gradient(90deg, lime, red);
  color: white;
}

/* Footer */
footer {
  margin: 0 auto;
  padding: 5px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0 auto;
  padding: 5px;
  width: 50%;
  text-transform: capitalize;
  font-size: 20px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 50%;
  justify-content: right;
}

footer ul li {
  padding: 5px;
}

footer ul li a {
  font-size: 20px;
  background-image: linear-gradient(90deg, red, lime);
  background-clip: text;
  color: transparent;
}

footer ul li a i {
  display: none;
}

/*# sourceMappingURL=desktop.css.map */
