
*{
    box-sizing: border-box;
}



html,
body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* HEADER*/
header{
    margin: 0 auto;
    padding: 0;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;

    .title{
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 50%;
    
        .list{
            .bi-list,
            .bi-x {
                margin: 0 auto;
                padding: 0;
                font-size: 32px;
                display: none;
            }
        }
        
        .title-name{
            margin: 0 auto;
            padding: 0 0 0 50px;
            width: 100%;
            font-size: 30px;
            position: relative;
        }
    
        .title-name a{
            text-decoration: none;
        }
    
        .name{
            background-image: linear-gradient(90deg,red, lime);
            background-clip: text;
            color: transparent;
        }
    
        .bi-circle-half{
            position: absolute;
            right: 0;
            font-size: 20px;
            padding: 5px;
        }
    }

    .nav{
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;    
        width: 50%;
    
        a{    
            background-image: linear-gradient(90deg,red, lime);
            background-clip: text;
            color: transparent;
            border: none;
            text-transform: capitalize;
            font-size: 20px;
            padding: 5px;
        }
        
        a:hover{
            background-image: linear-gradient(90deg,lime, red);
            background-clip: text;
            color: transparent;
        }
        
        .nav li{
            width: 25%;
            text-align: center;
            cursor: context-menu;
            font-size: 20px;
        }
    }
}







/* MAIN */
main{
    margin: 35px auto 0 auto;
    padding: 0;
    background-color: white;
}

.box{
    margin: 0 auto;
    padding: 10px;
    width: 80%;

    h1{
        text-transform: capitalize;

        span {
            margin: 0 auto;
            padding: 0;
            background-image: linear-gradient(90deg,red, lime);
            background-clip: text;
            color: transparent;
        }
    }


    ul{
        margin: 0;
        padding: 0;
    }

}



/* Landing Page */
.land1{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.lands{
    margin: 0 auto;
    padding: 0;
    width: 50%;
}

.lands h1{
    text-transform: capitalize;
}


.lands p{
    font-size: 25px;
}

.land2{
    margin: 0 auto;
    padding: 0;
    width: 50%;
}

.land2 img{
    width: 100%;
    border: none;
    border-radius: 20px;
    height: 50vh;
}

.stacks{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.stacks svg{
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

/* About Element */
.about-content{
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about1{
    margin: 0 auto;
    padding: 0;
    width: 40%;
}

.about1 img{
    width: 100%;
    height: 50vh;
}

.about2{
    margin: 0 auto;
    padding: 0 0 0 20px;
    width: 60%;
    list-style-type: none;
}

.about2 li{
    line-height: 90px;
    padding: 0;
    font-size: 30px;
}

.about2 li i{
    padding: 0 0 0 10px;
    background-image: linear-gradient(90deg,red, lime);
    background-clip: text;
    color: transparent;

}

/* Experience Element */ 
.experience-content{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.experience1{
    margin: 0 auto;
    padding: 0;
    width: 33%;
    background-color: aliceblue;
}

.experience1 img{
    width: 100%;
    height: 50vh;
}

.experience1 div{
    margin: 0 auto;
    padding: 5px;
    font-size: 20px;
}

.education-content{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.education1{
    margin: 0 auto;
    padding: 0;
    width: 30%;
    background-color: aliceblue;
}

.education1 img{
    width: 100%;
    height: 30vh;
    background-color: white;
}

.education1 div{
    margin: 0 auto;
    padding: 5px;
    font-size: 20px;
}

.education1 a{
    cursor: alias;

}

/* Skills */
.skills-content{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.skills1{
    margin: 0 auto;
    padding: 0;
    width: 30%;
    background-color: aliceblue;
}

.skills1 h4{
    text-align: center;
    text-transform: capitalize;

}

.skills1 h4 span{
    background-image: linear-gradient(90deg,red, lime);
    background-clip: text;
    color: transparent;
}

.skills1 ul{
    margin: 0 20px;
    padding: 5px;
}

.skills1 ul li{
    text-transform: capitalize;
    font-size: 15px;
}

/*contact form */

.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    span{
        background-image: linear-gradient(90deg,red, lime);
    }

    .contact-left{
        margin: 20px auto;

        .contact-title{
            h1{
                margin: 0;
                padding: 0;
            }
            hr{
                max-width: 100px;
                margin: 0;
                min-height: 5px;
                background-image: linear-gradient(90deg,red, lime);
            }
        }
        .inputs-field,
        .message-box{
            margin-top: 10px;
        }

        .inputs-field{
            border-radius: 50px;
            input{
                display: block;
                width: 100%;
                border: none;
                outline: none;
                border-radius: inherit;
                font-size: 20px;
                padding: 10px;
                background-color: rgba(170, 97, 97, 0.363);
            }

            input:hover{
                background-color: aliceblue;
            }

            input:focus{
                background-color: aliceblue;
            }

            input::placeholder{
                color: white;
                @extend span;
                background-clip: text;
                color: transparent;
            }
        }
        .message-box{
            max-width: 100%;

            textarea{
                display: block;
                width: 100%;
                resize: none;
                min-height: 10vh;
                outline: none;
                overflow: scroll;
                -ms-overflow-style: none; 
                scrollbar-width: none;
                border-radius: 20px;
                padding: 10px;
            }
        }

        .submit{

            input{
                margin: 10px auto;
                display: block;
                width: 80%;
                border: none;
                outline: none;
                border-radius: inherit;
                font-size: 20px;
                padding: 5px;
                @extend span;
                border-radius: 70px;
                color: aliceblue;
            }

            input:hover{
                background-image: linear-gradient(90deg,lime, red);
                color: white;
            }
        }
    }
}

/* Footer */ 
footer{
    margin: 0 auto;
    padding: 5px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    margin: 0 auto;
    padding: 5px;
    width: 50%;
    text-transform: capitalize;
    font-size: 20px;
}

footer ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: right;
}

footer ul li{
    padding: 5px;
}

footer ul li a{
    font-size: 20px;    
    background-image: linear-gradient(90deg,red, lime);
    background-clip: text;
    color: transparent;
    
}

footer ul li a i{
    display: none;
}

