@media screen and (max-width:375px) {
    /* HEADER*/
    header{
        margin: 0 auto;
        padding: 0;
        background-color: aliceblue;
        display: block;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .title{
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        justify-content: left;
    }

    .nav{
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: block;    
        width: 100%;
        position: absolute;
        height: 100vh;
        left: -100%;
        background-color: aliceblue;
        transition-duration: 1s;
    }

    .list .bi-list{
        margin: 0 0 0 15px;
        font-size: 25px;
        display: block;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .list .bi-x{
        margin: 0 0 0 15px;
        font-size: 25px;
        width: 100%;        
        text-align: center;
        font-weight: bold;
    }

    .title-name{
        margin: 0 auto;
        padding: 0 0 0 20px;
        width: 100%;
        font-size: 25px;
        position: relative;
    }

    .name{
        background-image: linear-gradient(90deg,red, lime);
        background-clip: text;
        color: transparent;
        cursor: context-menu;
    }

    .bi-circle-half{
        position: absolute;
        right: 5px;
        font-size: 18px;
        padding: 5px;
    }

    .btn{    
        background-image: linear-gradient(90deg,red, lime);
        background-clip: text;
        color: transparent;
        border: none;
        text-transform: capitalize;
        font-size: 15px;
        padding: 5px;
    }

    .btn:hover{
        background-image: linear-gradient(90deg,lime, red);
        background-clip: text;
        color: transparent;
    }

    .nav li{
        width: 100%;
        text-align: left;
        font-size: 12px;
    }
    
    /* MAIN */
    main{
        margin: 0 auto;
        padding: 0;
        background-color: white;
    }

    .box{
        margin: 0 auto;
        padding: 10px;
        width: 80%;
    }

    .box h1{
        text-transform: capitalize;
    }

    .box ul{
        margin: 0;
        padding: 0;
    }

    .box h1 span {
        margin: 0 auto;
        padding: 0;
        background-image: linear-gradient(90deg,red, lime);
        background-clip: text;
        color: transparent;
    }

    /* Landing Page */
.land1{
    margin: 0 auto;
    padding: 0;
    display: block;
    justify-content: center;
}

.lands{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.lands h1{
    text-transform: capitalize;
}


.lands p{
    font-size: 20px;
}

.land2{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.land2 img{
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 25vh;
}

.stacks{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.stacks svg{
    margin: 0 auto;
    width: 40px;
}


    /* About Element */
    .about-content{
        margin: 0 auto;
        padding: 0;
        display: block;
        align-items: start;
        justify-content: center;
    }

    .about1{
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .about1 img{
        width: 100%;
        height: 25vh;
        border-radius: 10px;
    }

    .about2{
        margin: 0 auto;
        padding: 0;
        width: 100%;
        list-style-type: none;
    }

    .about2 li{
        line-height: normal;
        padding: 0;
        font-size: 15px;
    }

    .about2 li i{
        padding: 0;
        background-image: linear-gradient(90deg,red, lime);
        background-clip: text;
        color: transparent;

    }

    /* Experience Element */ 
    .experience-content{
        margin: 0 auto;
        padding: 0;
        display: block;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .experience1{
        margin: 0 auto;
        padding: 0;
        width: 100%;
        background-color: aliceblue;
    }

    .experience1 img{
        width: 100%;
        height: 18vh;
    }

    .experience1 div{
        margin: 5px auto;
        padding: 5px;
        font-size: 14px;
    }

    .education-content{
        margin: 0 auto;
        padding: 0;
        display: block;
        flex-wrap: wrap;
        justify-content: center;
    }

    .education1{
        margin: 0 auto;
        padding: 0;
        width: 100%;
        background-color: aliceblue;
    }

    .education1 img{
        width: 100%;
        height: 18vh;
        background-color: white;
    }

    .education1 div{
        margin: 0 auto;
        padding: 5px;
        font-size: 15px;
    }

    .education1 a{
        cursor: alias;
        text-decoration: none;

    }

    /* Skills */
    .skills-content{
        margin: 0 auto;
        padding: 0;
        display: block;
        flex-wrap: wrap;
        justify-content: center;

    }

    .skills1{
        margin: 0 auto;
        padding: 0;
        width: 100%;
        background-color: aliceblue;
    }

    .skills1 h4{
        text-align: center;
        text-transform: capitalize;

    }

    .skills1 h4 span{
        background-image: linear-gradient(90deg,red, lime);
        background-clip: text;
        color: transparent;
    }

    .skills1 ul{
        margin: 0 20px;
        padding: 5px;
    }

    .skills1 ul li{
        text-transform: capitalize;
        font-size: 15px;
    }

    /* Footer */ 
    footer{
        margin: 0 auto;
        padding: 5px;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer p{
        margin: 0 auto;
        padding: 0;
        width: 60%;
        text-transform: capitalize;
        font-size: 12px;
    }

    footer ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        width: 40%;
        justify-content: right;
        align-items: center;
    }

    footer ul li{
        padding: 1px;
    }

    footer ul li a{
        font-size: 12px;    
        background-image: linear-gradient(90deg,red, lime);
        background-clip: text;
        color: transparent;
        
    }

    footer ul li a svg{
        width: 12px;
        height: 12px;
        background-image: linear-gradient(90deg,red, lime);
        background-clip: text;
        color: transparent;
    }
}