@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(147, 165, 240, 0.233);
    animation: fadeIn 1s;

}

@mixin wrap{
    span{
        background-image: linear-gradient(90deg, lime,red,blue);
        background-clip: text;
        color: transparent;
    }
    a{
        text-decoration: none;
    }

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(183, 183, 244, 0.3);

    .navbar-heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 0 10px;
        
        a{
            text-decoration: none;
            cursor: pointer;
            span{
                    background-image: linear-gradient(90deg, lime,red,blue);
                    background-clip: text;
                    color: transparent;
                    font-size: 3rem;
                    cursor: pointer;
                }
        }

        .bi-list{
            display: inline-block;
            font-size: 2rem;
            display: none;
        }

        .dark-mode{
            display: none;
        }
         
    .dark-mode1{
        display: none;
    }
    }

    .navbar-list{
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        flex-wrap: wrap;
        gap: 0;

        li{
            cursor: pointer;
            border-radius: 50px;
            padding: 5px;
        }
        li:hover{
            background-color: rgba(116, 116, 246, 0.134);
        }

        a{
            text-decoration: none;
            padding: 0;
            color: gray;
        }
    }
}

@media (max-width:40rem) {
    .navbar{
        display: block;
        @include wrap;
    
        .navbar-heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            padding: 10px;

            a{
               span{
                font-size: 1.5rem;
                cursor: pointer;
            } 
            }
            
    
            .bi-list{
                display: inline-block;
                font-size: 32px;
            }

            .dark-mode{
                display: flex;
            }
        }

        .navbar-list{   
            display: none;
        }

         
    .dark-mode1{
        display: none;
    }
    } 
}

.home-page{
    @include wrap;
    animation-name: fadeIn;
    animation-duration: 1s;

    .home-top{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        justify-content: space-between;
        align-items: center;
        animation-name: fadeIn;
        animation-duration: 1.5s;
        padding: 1rem;

        .content{
            margin: 0 auto;
            p{
                font-size: 2rem;
            }
        }

        .image{
            margin: 0 auto;
            border-radius: 2rem;

            img{
                max-width: 90%;
                height: 40vh;
                border-radius:inherit;
                background-color: rgba(183, 183, 244, 0.3);
            }
        }
    }

    .home-bottom{
        margin: 0 auto;
        animation-name: fadeIn;
        animation-duration: 3s;
        
        h1{
           text-align: center;
           font-size: 50px;
            animation-name: fadeIn;
            animation-duration: 4s;
            margin: 0;
            padding: 0;
        }

        .stacks{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li{
                img{
                    width: 30px;
                    height: 30px
                }
            }
            
        }
    }
}

.about-page{
    @include wrap;
    background-image: radial-gradient(circle at center,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("https://th.bing.com/th/id/OIG3.pBF7_WoGmk7zbv9AlTVE?pid=ImgGn");
    background-blend-mode:darken;
    min-height: 75vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;

    h1{
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .about-nav{
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
        justify-content: center;

        li{
            padding: 0.5rem;

            a{
                color: white;
           }
        }

        li:hover{
            background-color: rgba(183, 183, 244, 0.3);
            border-radius: 5rem;
        }
    }

    .experience-page{
        @include wrap;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        box-sizing: border-box;
        justify-content: space-between;
        gap: 0.5rem;

        .wraper{
            background-color: rgba(183, 183, 244, 0.3);

            div{
                text-align: justify;
                padding: 0 1rem;

                ul{
                    list-style-type: square;
                }
            }
            
            img{
                width: 100%;
                height: 30vh;

                }
            }
        }

    .skills-page{
        @include wrap;

        h1{
            margin: 0;
            padding: 0;
            text-transform: capitalize;
            text-align: right;
        }

        .skills{

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            gap: 0.5rem;

            .skill{
               background-color: rgba(183, 183, 244, 0.3);
               border-radius: 1rem;
               padding: 1rem;
               
               h4{
                text-transform: capitalize;
                text-align: center;
               }

               ul{
                list-style-type: square;

                li{
                    text-transform: capitalize;
                }
               }
            }

            .skill:hover{
               background-color: rgba(183, 183, 244, 0.7);
            }
        }

    }
    
    .education-page{
        @include wrap;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 0.5rem;

        .wraper{
            padding-bottom: 2rem;
            background-color: rgba(183, 183, 244, 0.3);
            border-radius: 1rem;
            
            img{
                width: 100%;
                height: 40vh;
                background-color: white;
                border-radius: 1rem 1rem 0px 0px;
            }

            div{
                padding: 1rem;
                a{
                    color: white;
                }
            }

        }

        .wraper:hover{
            opacity: 0.8;
        }
    }
}

.nyumbani{
    margin: 1rem auto;
    max-width: 50%;
    background-color: rgba(183, 183, 244, 0.3);
    border-radius: 1rem;

    p{
        padding: 0.5rem;
        font-size: 1.3rem;
        margin: 0;
        text-align: justify;

        b,tt,strong,code{
            color: lime;
        }
    }
}

.nyumbani:hover{
    background-color: rgba(183, 183, 244, 0.5);
}

.blog-page{
    @include wrap;
    margin: auto;
}

.contact-page{
    margin: 0 auto;
    @include wrap;
    background-image: linear-gradient(to right, rgba(0, 255, 0, 0.744), rgba(255, 0, 0, 0.481), rgba(0, 0, 255, 0.481));
    border-radius: 1rem;

    .left{
        border-radius: inherit;
        div{
            h1{
                background-color: white;
                margin: 0 auto;
                text-align: center;
                border-radius: 1rem 1rem 0 0;

            }
            hr{
                margin: 0;
                padding: 0;
                height: 0.4rem;
                background-color: lime;
                border: none;
                outline: none;
            }
        }
        form{
            box-sizing: border-box;
            padding: 1rem;
            .name-email{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                input{
                    display: block;
                    margin: 0.2rem auto;
                    outline: none;
                    border: none;
                    font-size: 1.2rem;
                    border-radius: 0.2rem;
                }

                input:hover{
                    box-shadow: 0 0 0.8rem white;
                }

                input:focus{
                    background-color: rgba(183, 183, 244, 0.8);
                    color: white;
                }

                input::placeholder{
                    color: grey;
                    font-size: 1.2rem;
                }
            }

            @media (orientation: portrait) {
                .name-email{
                    display: block;
                }
                
            }


            textarea{
                margin: 0.2rem auto;
                display: block;
                width: 80%;
                resize: none;
                height: 10vh;
                border: none;
                outline: none;
                border-radius: 0.2rem;
                padding: 1rem;
                font-size: 1.2rem;
            }

            textarea:focus{
                background-color: rgba(183, 183, 244, 0.8);
            }

            .results{
                text-align: center;
            }

            .submit{
                display: block;
                box-sizing: border-box;
                font-size: 1.2rem;
                background-color: rgba(183, 183, 244, 0.8);
                border: none;
                border-radius: 3rem;
                outline: none;
                padding: 0.4rem;
                margin: 1rem auto;
            }

            .submit:hover{
                background-color: white;
                box-shadow: 0 0 1rem white;
            }
        }
    }
}

.projects-page{
    @include wrap;
    margin: auto;
}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    background-color: rgba(183, 183, 244, 0.3);

    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .footer-social{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        align-items: center;
        justify-content: center;
        gap: 1rem;

        div{
            text-align: center;
        }

        ul{
            display: flex;
            justify-content: center;
            gap: 1rem;
            align-items: center;

            a,
            span{
                background-image: linear-gradient(15deg, lime,red,blue);
                background-clip: text;
                color: transparent;
            }
        }
    }

    .footer-nav{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        align-items: center;
        justify-content: center;    
        
        li{
            padding: 5px;
            color: grey;
            text-align: center;

            a{
                text-decoration: none;
            }
            a:hover{
                text-decoration:underline;
            }

            i,
            span{
                background-image: linear-gradient(15deg, lime,red,blue);
                background-clip: text;
                color: transparent;
            }
            
            i:hover{
                background-image: linear-gradient(15deg, blue,red,lime);
                background-clip: text;
                color: transparent;
            }
        }
    }
}