.projects{
    width: inherit;

    .project-box{
        margin: 0 auto;
        box-shadow: 0 0 0.5rem rgba(255, 0, 0, 0.313);
        border-radius: 1rem;

        .wrapper{
            height: 250px;
            background-size: 100% 100%;

            div{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                height: 250px;
                background-color: rgba(0, 128, 0, 0.5);
                padding: 1rem;

                h3{
                    padding-right: 1rem;
                    color: white;
                }
    
                a{
                    background: rgba(0, 255, 0, 0.11);
                    color: black;
                    border-radius: 4rem;
                    padding: 0.3rem 0.5rem;
                    border: 1px solid rgba(255, 0, 0, 0.11);
                    text-align: center;
                    margin: 0.5rem;
                    text-decoration: none;
                    color: white;
                }
            }
        }

        .wrapper:hover{
            div{
                
                background: rgba(0, 255, 0, 0.5);

                h3{
                    padding-right: 1rem;
                    color: black;
                }

                a{
                    background: rgba(255, 0, 0, 0.11);
                    border: 1px solid rgba(0, 0, 255, 0.11);
    
                }
            }
        }

        .one{
            background-image: url("https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        }

        .two{
            background-image: url("https://images.pexels.com/photos/276242/pexels-photo-276242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        }

        .three{
            background-image: url("https://images.pexels.com/photos/295884/pexels-photo-295884.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        }
        .four{
            background-image: url("https://media.istockphoto.com/id/1186727890/photo/gemini-constellation-on-starry-sky.jpg?s=1024x1024&w=is&k=20&c=A_LbRmUpFuQcpeTxSqptDCrRovuwlflqFyoQ6GB40tU="); 
        }
        .five{
            background-image: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        }

        .projects-stacks{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            flex-wrap: wrap;

            span{
                background: rgba(0, 255, 0, 0.11);
                color: black;
                border-radius: 4rem;
                padding: 0.3rem 0.5rem;
                border: 1px solid rgba(255, 0, 0, 0.11);
                text-align: center;
                margin: 0.5rem;
                display: block;

            }

            span:hover{
                background: rgba(255, 0, 0, 0.11);
                border: 1px solid rgba(0, 0, 255, 0.11);

            }

        }
    }
}

.react{
    display: flex;
    justify-content: left;
}
.vanillajs{
    display: flex;
    justify-content: left;
}

.project-box:hover{
    box-shadow: 0 0 0.5rem rgb(255, 255, 255);
}


@media (max-width:40rem) {
    .projects{
        width: inherit;
        display: block;
        align-items: center;
        justify-content: space-between;
        margin: 1rem auto;
    }

    .project-box{
        margin:0 auto;

        a{
            text-decoration: none;
            display: block;
            width: 100%;

            img{
                display: block;
                width: 100%;
                height: 250px;
            }

        }

        .projects-stacks{
            margin: 1rem auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            flex-wrap: wrap;

            span{
                background: rgba(0, 255, 0, 0.11);
                color: black;
                border-radius: 4rem;
                padding: 0.3rem 0.5rem;
                border: 1px solid rgba(255, 0, 0, 0.11);
                text-align: center;

            }

            span:hover{
                background: rgba(255, 0, 0, 0.11);
                border: 1px solid rgba(0, 0, 255, 0.11);

            }

        }
    }
}
